{% set template = "home" %}
{% extends 'base.twig' %}
{% block content %}
    <section class="flex flex-col items-center justify-start text-3xl font-bold text-left text-primary drop-shadow-lg">
        <img src="{{ theme.link }}/img/vite.svg" alt="vite" />
        <h1>
            Heading
        </h1>
    </section>
{% endblock %}
