<nav>
    {% for item in navigation.lang %}
        <ul>
            <li>
                <a href="{{ item.url }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul>
                        {% for child in item.children %}
                            <li>
                                <a href="{{ child.url }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
</nav>
